extends ../base.pug

block variables
  - var template = 'home'

block content
  .home
    .home__wrapper
      .home__titles
        each collection, index in collections
          .home__titles__label=`${home.data.collection} ${Numbers(index)}`
          .home__titles__title=collection.data.title

      .home__gallery
        each media in home.data.gallery
          figure.home__gallery__media
            img.home__gallery__media__image(alt=media.image.alt src=media.image.url)

        a.home__link(href=Link(home.data.collections))=home.data.button
          svg.home__link__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 289 65")
            path(stroke="currentColor" fill="none" d="M145 61C65.37 61 1 47.59 1 31C1 14.41 65.37 1 145 1C224.63 1 289 14.41 289 31C289 47.59 224.63 61 145 61Z")

